html {
    background-color: #232323;
    color: #989898;
    font-family: "verdana";
}
body {
    margin: 0;
}
main {
    padding-left: 3%;
    padding-right: 3%;
}
#header {
    background-color: #69369E;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
h1 {
    text-align: center;
}

input[type="submit"], button[type="submit"] {
  background-color: #232323; 
  border: 2px solid #989898;           
  color: #989898;             
}